{% extends 'layout.html' %}
{% block title %}Cita | Editar{% endblock %}
{% block content %}
<form method="POST">
  <div class="form-group">
    <label for="inputNombre">Motivo</label>
    <input type="text" name="evento" class="form-control" id="evento" placeholder="Nombre del Evento" value="{{ cita.1 }}">
  </div>
  <div class="form-group">
    <label for="inputPaterno">Fecha</label>
    <input type="date" name="fecha_inicio" class="form-control" id="fecha_inicio" placeholder="Fecha Inicio" value="{{ cita.2 }}">
  </div>
  <div class="form-group">
    <label for="InputDentista">Dentista</label>
    <select class="form-select" aria-label="Default select example" name="dentista">
      {% for dentista in dentistas %}
      <option value="{{ dentista.0 }}">{{ dentista.1 }} {{ dentista.2 }} {{ dentista.3 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="InputPaciente">Paciente</label>
    <select class="form-select" aria-label="Default select example" name="paciente">
      {% for paciente in pacientes %}
      <option value="{{ paciente.0 }}">{{ paciente.1 }} {{ paciente.2 }} {{ paciente.3 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-12" id="grupoRadio">
    <input type="radio" name="color_evento" id="orange" value="#FF5722" checked>
    <label for="orange" class="circu" style="background-color: #FF5722;"> </label>
    <input type="radio" name="color_evento" id="amber" value="#FFC107">
    <label for="amber" class="circu" style="background-color: #FFC107;"> </label>
    <input type="radio" name="color_evento" id="lime" value="#8BC34A">
    <label for="lime" class="circu" style="background-color: #8BC34A;"> </label>
    <input type="radio" name="color_evento" id="teal" value="#009688">
    <label for="teal" class="circu" style="background-color: #009688;"> </label>
    <input type="radio" name="color_evento" id="blue" value="#2196F3">
    <label for="blue" class="circu" style="background-color: #2196F3;"> </label>
    <input type="radio" name="color_evento" id="indigo" value="#9c27b0">
    <label for="indigo" class="circu" style="background-color: #9c27b0;"> </label>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
{% endblock %}