{% extends 'layout.html' %}
{% block title %}Pacientes{% endblock %}
{% block subtitle %}Pacientes{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.1 }} {{ paciente.2 }} {{ paciente.3 }}</td>
            <td>{{ paciente.4 }}</td>
            <td>{{ paciente.5 }}</td>
            <td>{{ paciente.6 }}</td>
            <td>{{ paciente.7 }}</td>
            <td>
                <a type="button" class="btn btn-info" href="/pacientes/editar/{{ paciente.0 }}">Editar</a>
                <a type="button" class="btn btn-danger" href="/pacientes/eliminar/{{ paciente.0 }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Registrar pacientes
</button>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registar paciente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" id="inputNombre" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="inputPaterno">Apellido Paterno</label>
                        <input type="text" name="paterno" class="form-control" id="inputPaterno"
                            placeholder="Apellido Paterno">
                    </div>
                    <div class="form-group">
                        <label for="inputMaterno">Apellido Materno</label>
                        <input type="text" name="materno" class="form-control" id="inputMaterno"
                            placeholder="Apellido Materno">
                    </div>
                    <div class="form-group">
                        <label for="inputNacimiento">Fecha de Nacimiento</label>
                        <input type="date" name="nacimiento" class="form-control" id="inputNacimiento">
                    </div>
                    <div class="form-group">
                        <label for="InputSexo">Sexo</label>
                        <select class="form-select" aria-label="Default select example" name="sexo">
                            <option value="idk" selected>no especificar</option>
                            <option value="Mujer">Mujer</option>
                            <option value="Hombre">Hombre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="InputTelefono">Telefono</label>
                        <input type="text" name="telefono" class="form-control" id="InputTelefono"
                            placeholder="663-564-3553">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email</label>
                        <input type="email" name="email" class="form-control" id="InputEmail"
                            aria-describedby="emailHelp" placeholder="email@dominio.com">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}